Repository LLNL/variorum, pull requests merged in 2024-01, with the labels that each got.

#489 Code formatting pass
  src/docs/sphinx/QuickStart.rst
  src/docs/sphinx/VariorumAPI.rst
  src/docs/sphinx/api/json_support_functions.rst
  src/docs/sphinx/index.rst
  src/variorum/AMD/amd_power_features.h
  src/variorum/AMD/epyc.h
  src/variorum/AMD_GPU/amd_gpu_power_features.h
  src/variorum/AMD_GPU/config_amd_gpu.c
  src/variorum/AMD_GPU/instinctGPU.h
  src/variorum/ARM/ARM_Juno_r2.h
  src/variorum/ARM/ARM_Neoverse_N1.h
  src/variorum/ARM/arm_util.h
  src/variorum/ARM/config_arm.c
  src/variorum/ARM/juno_r2_power_features.h
  src/variorum/ARM/neoverse_N1_power_features.h
  src/variorum/IBM/config_ibm.c
  src/variorum/IBM/ibm_power_features.h
  src/variorum/Intel/Intel_06_2A.h
  src/variorum/Intel/Intel_06_2D.h
  src/variorum/Intel/Intel_06_3E.h
  src/variorum/Intel/Intel_06_3F.h
  src/variorum/Intel/Intel_06_4F.h
  src/variorum/Intel/Intel_06_55.h
  src/variorum/Intel/Intel_06_6A.h
  src/variorum/Intel/Intel_06_8F.h
  src/variorum/Intel/Intel_06_9E.h
  src/variorum/Intel/clocks_features.h
  src/variorum/Intel/intel_power_features.h
  src/variorum/Intel_GPU/config_intel_gpu.c
  src/variorum/Intel_GPU/config_intel_gpu.h
  src/variorum/Intel_GPU/intel_gpu_power_features.h
  src/variorum/Nvidia_GPU/config_nvidia.c
  src/variorum/Nvidia_GPU/nvidia_gpu_power_features.h
  src/variorum/variorum.h
Labels: type-internal-cleanup, area-docs, area-internal, status-ready-to-merge

#491 format .h files, parameters on new lines
  src/variorum/AMD/amd_power_features.h
  src/variorum/AMD/config_amd.h
  src/variorum/AMD/epyc.h
  src/variorum/AMD_GPU/amd_gpu_power_features.h
  src/variorum/AMD_GPU/config_amd_gpu.h
  src/variorum/AMD_GPU/instinctGPU.h
  src/variorum/ARM/ARM_Juno_r2.h
  src/variorum/ARM/ARM_Neoverse_N1.h
  src/variorum/ARM/arm_util.h
  src/variorum/ARM/config_arm.h
  src/variorum/ARM/juno_r2_power_features.h
  src/variorum/ARM/neoverse_N1_power_features.h
  src/variorum/IBM/Power9.h
  src/variorum/IBM/config_ibm.h
  src/variorum/IBM/ibm_power_features.h
  src/variorum/Intel/Intel_06_2A.h
  src/variorum/Intel/Intel_06_2D.h
  src/variorum/Intel/Intel_06_3E.h
  src/variorum/Intel/Intel_06_3F.h
  src/variorum/Intel/Intel_06_4F.h
  src/variorum/Intel/clocks_features.h
  src/variorum/Intel/config_intel.h
  src/variorum/Intel/counters_features.h
  src/variorum/Intel_GPU/GPU.h
  src/variorum/Intel_GPU/config_intel_gpu.h
  src/variorum/Intel_GPU/intel_gpu_power_features.h
  src/variorum/config_architecture.h
  src/variorum/variorum_error.h
  src/variorum/variorum_timers.h
Labels: status-ready-for-review, type-internal-cleanup, area-internal

#488 json output for frequency data
  src/docs/sphinx/api/json_support_functions.rst
  src/examples/CMakeLists.txt
  src/examples/variorum-get-node-frequency-json-example.c
  src/variorum/AMD/config_amd.c
  src/variorum/AMD/epyc.c
  src/variorum/AMD/epyc.h
  src/variorum/AMD_GPU/amd_gpu_power_features.c
  src/variorum/AMD_GPU/amd_gpu_power_features.h
  src/variorum/AMD_GPU/config_amd_gpu.c
  src/variorum/AMD_GPU/instinctGPU.c
  src/variorum/AMD_GPU/instinctGPU.h
  src/variorum/IBM/Power9.c
  src/variorum/IBM/Power9.h
  src/variorum/IBM/config_ibm.c
  src/variorum/IBM/ibm_power_features.c
  src/variorum/IBM/ibm_power_features.h
  src/variorum/Intel/Intel_06_2A.c
  src/variorum/Intel/Intel_06_2A.h
  src/variorum/Intel/Intel_06_2D.c
  src/variorum/Intel/Intel_06_2D.h
  src/variorum/Intel/Intel_06_3E.c
  src/variorum/Intel/Intel_06_3E.h
  src/variorum/Intel/Intel_06_3F.c
  src/variorum/Intel/Intel_06_3F.h
  src/variorum/Intel/Intel_06_4F.c
  src/variorum/Intel/Intel_06_4F.h
  src/variorum/Intel/Intel_06_55.c
  src/variorum/Intel/Intel_06_55.h
  src/variorum/Intel/Intel_06_9E.c
  src/variorum/Intel/Intel_06_9E.h
  src/variorum/Intel/clocks_features.c
  src/variorum/Intel/clocks_features.h
  src/variorum/Intel/config_intel.c
  src/variorum/Nvidia_GPU/Volta.c
  src/variorum/Nvidia_GPU/Volta.h
  src/variorum/Nvidia_GPU/config_nvidia.c
  src/variorum/Nvidia_GPU/nvidia_gpu_power_features.c
  src/variorum/Nvidia_GPU/nvidia_gpu_power_features.h
  src/variorum/config_architecture.c
  src/variorum/config_architecture.h
  src/variorum/variorum.c
  src/variorum/variorum.h
Labels: status-work-in-progress, type-feature, area-docs, area-feature-support

#494 add third / for code comment, fix supparch list
  src/variorum/variorum.h
Labels: type-internal-cleanup, type-release, area-docs, area-internal, status-ready-to-merge

#496 update astyle formatting
  scripts/check-cpp-c-format.sh
  src/powmon/common.c
  src/variorum/AMD/config_amd.c
Labels: type-internal-cleanup, type-release, area-internal, status-ready-to-merge

#431 GPU and Node Utilization JSON API (CPU, GPU, Memory)
  src/docs/sphinx/VariorumAPI.rst
  src/docs/sphinx/api/json_support_functions.rst
  src/examples/CMakeLists.txt
  src/examples/variorum-get-gpu-utilization-json.c
  src/examples/variorum-get-node-utilization-json.c
  src/variorum/AMD_GPU/amd_gpu_power_features.c
  src/variorum/AMD_GPU/amd_gpu_power_features.h
  src/variorum/AMD_GPU/config_amd_gpu.c
  src/variorum/AMD_GPU/instinctGPU.c
  src/variorum/AMD_GPU/instinctGPU.h
  src/variorum/Nvidia_GPU/Volta.c
  src/variorum/Nvidia_GPU/Volta.h
  src/variorum/Nvidia_GPU/config_nvidia.c
  src/variorum/Nvidia_GPU/nvidia_gpu_power_features.c
  src/variorum/Nvidia_GPU/nvidia_gpu_power_features.h
  src/variorum/config_architecture.c
  src/variorum/config_architecture.h
  src/variorum/variorum.c
  src/variorum/variorum.h
Labels: status-ready-for-review, type-feature, area-feature-support

#501 add -example to utilization json example files
  src/examples/CMakeLists.txt
  src/examples/variorum-get-gpu-utilization-json-example.c
  src/examples/variorum-get-node-utilization-json-example.c
Labels: status-ready-for-review, type-internal-cleanup, area-examples

#502 Rename variorum_get_node_frequency_json --> variorum_get_frequency_json
  src/docs/sphinx/api/json_support_functions.rst
  src/examples/CMakeLists.txt
  src/examples/variorum-get-frequency-json-example.c
  src/variorum/variorum.c
  src/variorum/variorum.h
Labels: status-ready-for-review, type-internal-cleanup, area-internal
